/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: rgb(15, 142, 62);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
}
img {
   
    max-width: 228px;
    height: 150px;
}

/* Footer */
footer {
    background-color: rgb(15, 142, 62);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
